@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right bottom, #ff9671, #ffa16b, #ffad65, #ffba61, #ffc75f);
    background-size: cover;
}

.box {
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.inside {
    position: absolute;
    top: 200px;
    height: 40%;
    width: 100%;
    color: white;
    text-align: center;
    left: 0
}

h1 {
    text-align: center
}

.inside > button {
    padding: 18px 80px;
    background: white;
    color: #ff9671;
    border-radius: 1000px;
    margin-top: 40px;
}