@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #595959;
}

h1 {
    font-weight: 300;
}

p {
    font-weight: 300;
}

.nav {
    margin-left: 15%;
    margin-right: 15%;
    padding: 1% 0;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    margin-right: 50px;
    text-decoration: none;
    color: #ddd;
    font-weight: 300;
    transition: color ease-out .2s;
}

.nav a:hover {
    color: black;
}

.nav a.active {
    color: black;
}

.nav a:last-child {
    margin: 0;
}

.nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background: black;
    display: block;
    transition: width ease-out .2s;
}

.nav a.active:after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    display: block;
}

.nav a:hover:after {
    width: 100%;
}

.disabled {
    display: none;
}

.container_intro {
    margin: 12% 15% 0 15%;
    position: relative;
}

.container_intro img {
    position: absolute;
    top: -150px;
    left: 150px;
    z-index: 1;
}

.container_intro .circle {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    top: -100px;
    left: 110px;
    background-color: #eee;
}

.container_intro .text-intro {
    position: absolute;
    left: 320px;
    z-index: 2;
}

.container_intro .text-intro #linkedin-link {
    margin-top: 50px;
}

.container_intro .text-intro #linkedin-link {
    transition: color ease-out .2s;
    text-decoration: none;
    font-weight: 300;
}

.container_intro .text-intro #linkedin-link::after {
    content: '';
    width: 0;
    height: 1px;
    background: #007bb5;
    display: block;
    transition: width ease-out .2s;
}

.container_intro .text-intro #linkedin-link:hover::after {
    width: 100%;
}

.container_intro .text-intro #linkedin-link:hover {
    color: #007bb5;
}

/* CSS FOR SMALLER DEVICES */

.mobile-nav {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}

.menu-list {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 30px;
    left: 0;
    font-weight: 300;
    background: #fff;
    text-align: center;
    z-index: 1;
}

.menu-list .menu-item {
    margin-top: 20px;
}

.menu-list .menu-item:last-child {

}

.menu-list .menu-item.active {
    font-weight: 600;
}

.mobile-nav span {
    top: 50%;
    left: 7px;
    transition: background .3s;
}

.mobile-nav span,
.mobile-nav span:before,
.mobile-nav span:after {
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #595959;
}

.mobile-nav span:before {
    content: '';
    top: -7px;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.mobile-nav span:after {
    content: '';
    top: 7px;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.mobile-nav.visible span {
    background-color: #fff;
    left: 5px;
}

.mobile-nav.visible span:before {
    transform: rotate(45deg) translateX(1px) translateY(-4px);
}

.mobile-nav.visible span:after {
    transform: rotate(-45deg) translateX(1px) translateY(4px);
}

@media screen and (max-width: 786px) {
    .container_intro {
        margin: 4%;
        font-size: 0.83em
    }
    
    .nav {
        display: none;
    }
    
    .mobile-nav {
        display: block;
    }
}