@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #f4f4f4;
}

h1,
p {
  font-weight: 300;
}

.wrapper {
  padding: 2rem;
  background: #004e80;
  text-align: center;
}

.container {
  padding: 1rem;
  height: calc(100vh - 107px);
  background-color: rgb(0, 94, 202);
}

.container > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
