.container {
  padding: 2rem;
  text-align: center;
}

.playerid-form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;

  .playerid-form-field {
    max-width: 100%;
  }
}

.stats-container {
  padding: 2rem;
  width: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icn-spinner {
  animation: spin-animation 0.7s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
